 @font-face {
 	font-family: "MyCustomFont";
 	src: url("./myfont_minified.woff2") format("woff2");
 }

 #app {
 	width: 100vw;
 	height: 100vh;
 	margin: 0 auto;
 }

 .design-container {
 	width: 1920px;
 	margin: 0 auto;
 	position: relative;
 }

 .design-container * {
 	overflow: hidden;
 }

 .returnTop {
 	width: 2.5vw;
 	height: 2.5vw;
 	border-radius: 50%;
 	background-color: rgba(20, 20, 20, 0.5);
 	border: none;
 	font-weight: 600;
 	align-items: center;
 	justify-content: center;
 	box-shadow: 0px 0px 0px 0.2vw rgba(180, 160, 255, 0.253);
 	cursor: pointer;
 	transition-duration: 0.3s;
 	overflow: hidden;
 	position: relative;
 	display: none;
 	position: fixed;
 	bottom: 12vw;
 	right: 5vw;
 }

 .returnTop:hover {
 	width: 7vw;
 	border-radius: 50px;
 	transition-duration: 0.3s;
 	background-color: rgb(181, 160, 255);
 	align-items: center;
 }

 .svgIcon {
 	width: 1vw;
 	transition-duration: 0.3s;
 }

 .returnTop:hover .svgIcon {
 	transition-duration: 0.3s;
 	transform: translateY(-200%);
 }

 .returnTop::before {
 	position: absolute;
 	content: "返回顶部";
 	color: white;
 	transition-duration: .3s;
 	font-size: 0px;
 }

 .returnTop:hover::before {
 	font-size: 1vw;
 	transition-duration: 0.3s;
 }

 .el-loading-spinner {
 	--loading-text-size: 24px;
 }

 @media screen and (min-width: 600px) {
 	.el-loading-spinner {
 		--loading-text-size: 48px;
 	}
 }

 .el-loading-spinner .el-loading-text {
 	font-size: var(--loading-text-size) !important;
 }